body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 14px;
  background-color: #FAFAFA;
  margin: 0;
}

.card {
  background: #FFFFFF;
  max-width: 400px;
  padding: 24px;
  margin: 0 auto;
  margin-top: 40px;
}
paper-progress {
  width: 100% !important;
  position: fixed;
  z-index: 999;
  --paper-progress-transition-duration: 0.08s;
  --paper-progress-transition-timing-function: ease;
  --paper-progress-transition-transition-delay: 0s;
}
paper-progress.transiting.x-scope.paper-progress-0 {width: 100%;}

.paper-progress-0 #progressContainer.paper-progress, .paper-progress-0 .indeterminate.paper-progress::after {
    height: 25px;
}
.paper-progress-0 #primaryProgress.paper-progress {
    background: #4CAF50;
}
#progressContainer {
    height: 25px !important;
}
section {
  margin: 20px;
}

a, a:hover {
  text-decoration: none;
}

iron-toolbar {
  background-color: #455ede;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}
paper-toolbar.tall {
    display: block;
    background-color: #4285f4;
    padding: 25px;
    color: #fff;
}
paper-button {
  margin: 0.5em 1em 0.5em 0;
  width: 10em;
}

paper-button[right] {
  position: fixed;
  right: 0;
}

paper-checkbox {
  margin-left: 1em;
}

paper-fab {
  position: absolute !important;
  top: 35px;
  right: 1em;
  z-index: 1;
}

paper-tabs {
  background-color: #5677fc;
  color: #fff;
}

paper-tabs paper-tab.iron-selected {
  color: #ffff8d;
}

/* paper progress bar styles */
--paper-progress-height {
  height: 10px;
}